* {
  box-sizing: border-box;
}

body {
  background-color: lightcoral;
  color: turquoise;
  font-family: Arial, Helvetica, sans-serif;
  align-content: center;
  justify-content: center;
  padding: auto;
  min-height: auto;
}
